.div > div > div > img {
  height: 60px;
  margin-top: 20%;
  margin-left: 22%;
  /* align-items: center */
  border-radius: 50%;
}

.div {
  margin-left: 38%;
  margin-top: 10%;
  border: 2px solid rgb(212, 68, 11);
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.div > div {
  justify-content: center;
  margin-left: 17%;
  margin-top: 15%;
  border: 2px solid rgb(212, 68, 11);
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.div > div > div {
  margin-top: 25%;
  margin-left: 25%;
  border: 2px solid rgb(212, 68, 11);
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.button {
  background-color: rgb(212, 68, 11);
  margin-left: 43%;
  height: 35px;
  width: 160px;
  margin-top: 5%;
  border-radius: 7px;
}
